.info-container {
    padding: 30px;
    background-color: #1a1a1a;
    border-radius: 10px;
    border: 1px solid #00ff55;
  }
  
  .info-container ul {
    margin-top: 15px;
    padding-left: 25px;
  }
  
  .info-container li {
    margin-bottom: 10px;
    color: #ccffcc;
  }
  
  .info-container strong {
    color: #00ff55;
  }